.c-home .c-time_line
  margin-top: 45px

.c-home-wrapper
  width: 1100px
  margin 0 auto
  padding: 0 15px

.c-home-logo
  width: 361px
  height: 126px
  margin: 45px auto 0
  display: block
  background: url('../../public/images/logo.png') no-repeat center center
  background-size: 100% 100%
